<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>需要访问相机以录制视频</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要访问麦克风以录制音频</string>
</dict>
</plist>
