uni-list-view {
  display: block;
  width: 100%;
}

.uni-list-view-container {
  position: relative;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}

.uni-list-view-content {
  position: relative;
}

.uni-list-view-visible {
  position: absolute;
}

.uni-list-view-scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.uni-list-view-scrollbar-hidden {
  -moz-scrollbars: none;
  scrollbar-width: none;
}