uni-navigator {
  height: auto;
  width: auto;
  display: block;
  cursor: pointer;
}

uni-navigator[hidden] {
  display: none;
}

.navigator-hover {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.7;
}

.navigator-wrap {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.navigator-wrap:link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.navigator-wrap:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.navigator-wrap:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.navigator-wrap:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
