uni-progress {
  display: flex;
  align-items: center;
}

uni-progress[hidden] {
  display: none;
}

.uni-progress-bar {
  flex: 1;
}

.uni-progress-inner-bar {
  width: 0;
  height: 100%;
}

.uni-progress-info {
  margin-top: 0;
  margin-bottom: 0;
  min-width: 2em;
  margin-left: 15px;
  font-size: 16px;
}
