packages/playground/*/dist
packages/size-check/dist
packages/uni-app-vite/dist
packages/uni-cli-shared/dist
packages/uni-h5-vite/dist
packages/uni-mp-vite/dist
packages/uni-mp-compiler/dist
packages/uni-nvue-styler/dist
packages/vite-plugin-uni/dist
packages/uts/dist
packages/uni-uts-v1/dist
packages/uni-uts-v1/__tests__/tsc/uni-app-x/*/dist
packages/uni-app-uts/dist
packages/uni-cli-utils/dist
packages/uni-preprocess/dist
packages/uni-cli-shared/__tests__/examples/**/dist
packages/uni-app-harmony/dist/packages

.env
.DS_Store
node_modules
coverage
temp
explorations
TODOs.md
*.log
.history
scripts/package.json
