packages/playground/*/dist
packages/size-check/dist
packages/uni-app-vite/dist
packages/uni-cli-nvue/dist
packages/uni-cli-shared/dist
packages/uni-h5-vite/dist
packages/vite-plugin-uni/dist

.DS_Store
node_modules
coverage
temp
explorations
TODOs.md
*.log
.history
scripts/package.json
