<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" 
  package="io.dcloud.hellouts">
   
    <application android:networkSecurityConfig="@xml/custom_network_security_config"
>
        <!--meta-data-->
        <meta-data android:name="TencentMapSDK" android:value="您申请的腾讯定位App Key" />
        <!--需要替换成开发者自己的包名-->
        <activity android:name="uni.UNI70BE9D0.RootPackageActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
              <!--需要替换成开发者自己的包名-->
              <action android:name="uni.UNI70BE9D0.RootPackageActivity" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--meta-data-->  
        <activity android:name="io.dcloud.uniapp.UniLaunchProxyActivity" android:exported="true">
            <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:scheme="appuniappx"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
