body::after {
  position: fixed;
  content: '';
  left: -1000px;
  top: -1000px;
  animation: shadow-preload 0.1s;
  animation-delay: 3s;
}
@keyframes shadow-preload {
  0% {
    background-image: url(U_S_I_U);
  }
  100% {
    background-image: url(U_S_I_U);
  }
}
