<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" 
  package="io.dcloud.nativeresouce">
    <!--permissions-->
	<!-- 通过GPS得到精确位置 -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<!-- 通过网络得到粗略位置 -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<!-- 访问网络，某些位置信息需要从网络服务器获取 -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<!-- 访问WiFi状态，需要WiFi信息用于网络定位 -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<!-- 修改WiFi状态，发起WiFi扫描, 需要WiFi信息用于网络定位 -->
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<!-- 访问网络状态, 检测网络的可用性，需要网络运营商相关信息用于网络定位 -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<!-- 访问网络的变化, 需要某些信息用于网络定位 -->
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
	<!-- 蓝牙扫描权限 -->
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<!-- 前台service权限 -->
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<!-- 后台定位权限 -->
	<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
	<!-- A-GPS辅助定位权限，方便GPS快速准确定位 -->
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

	
    
</manifest>
