* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

uni-app,
uni-page,
uni-page-wrapper,
uni-page-body {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

uni-app,
uni-page,
uni-page-wrapper {
  height: 100%;
}

/* toast,modal,actionSheet,picker,layout */
.uni-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
/* toast,modal,actionSheet,picker */
.uni-fade-enter-active,
.uni-fade-leave-active {
  transition-duration: .25s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.uni-fade-enter-from,
.uni-fade-leave-active {
  opacity: 0;
}
