html,
body {
  line-height: 1.2;
}

uni-app uni-page-body {
  height: 100%;
  overflow: visible;
}

uni-app.uni-app--showtabbar uni-page-body::after {
  content: '';
  display: block;
  width: 100%;
  height: var(--tab-bar-height);
  height: calc(var(--tab-bar-height) + constant(safe-area-inset-bottom));
  height: calc(var(--tab-bar-height) + env(safe-area-inset-bottom));
  min-height: var(--tab-bar-height);
  min-height: calc(var(--tab-bar-height) + constant(safe-area-inset-bottom));
  min-height: calc(var(--tab-bar-height) + env(safe-area-inset-bottom));
}

uni-app.uni-app--showtabbar uni-page-wrapper::after {
  display: none;
}

uni-app uni-text,
uni-app uni-input,
uni-app uni-textarea {
  color: #000000;
  font-size: 16px;
  text-align: left;
}

/* 修正box-sizing: border-box;负面效果 */
uni-app uni-input {
  height: auto;
}

/* 文字容器 */
uni-app uni-text,
uni-app uni-textarea,
uni-app uni-label {
  line-height: 1.2;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  min-height: 0px;
  min-width: 0px;
}

uni-app uni-text,
uni-app uni-label {
  letter-spacing: 0;
}

uni-app uni-view,
uni-app uni-label,
uni-app uni-swiper,
uni-app uni-swiper-item,
uni-app uni-movable-area,
uni-app uni-movable-view,
uni-app uni-cover-view,
uni-app uni-list-item,
uni-app uni-navigator,
uni-app uni-radio-group,
uni-app uni-checkbox-group,
uni-app uni-scroll-view,
uni-app uni-list-view {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;
  /* 默认情况下，元素不会缩短至小于内容框尺寸，若想改变这一状况，请设置元素的min-width 与 min-height属性。https://developer.mozilla.org/zh-CN/docs/Web/CSS/flex */
  min-height: 0px;
  min-width: 0px;
}

/* 与开发者元素接触的容器，此样式可被manifest.json内配置的flex-direction重置 */
uni-app uni-page-body,
uni-app uni-view,
uni-app uni-label,
uni-app uni-swiper,
uni-app uni-swiper-item,
uni-app uni-movable-area,
uni-app uni-movable-view,
uni-app uni-cover-view,
uni-app uni-list-item,
uni-app uni-navigator,
uni-app uni-radio-group,
uni-app uni-checkbox-group,
uni-app uni-scroll-view,
uni-app uni-list-view {
  display: flex;
  flex-direction: column;
}

/* 与开发者元素接触的非滚动容器 */
uni-app uni-view,
uni-app uni-swiper,
uni-app uni-swiper-item,
uni-app uni-movable-area,
uni-app uni-movable-view,
uni-app uni-cover-view,
uni-app uni-list-item,
uni-app uni-navigator,
uni-app uni-radio-group,
uni-app uni-checkbox-group {
  overflow: hidden;
}

uni-app uni-button {
  margin: 0;
}

/* 透传scroll-view的flex-direction样式 */
uni-app uni-scroll-view {
  width: auto;
}

uni-app .uni-scroll-view,
uni-app .uni-scroll-view-content {
  flex-direction: inherit;
  align-items: inherit;
  align-content: inherit;
  justify-content: inherit;
}

uni-app .uni-scroll-view-content {
  display: flex;
  min-height: 0px;
}

uni-app uni-view,
uni-app uni-image,
uni-app uni-input,
uni-app uni-scroll-view,
uni-app uni-swiper,
uni-app uni-swiper-item,
uni-app uni-text,
uni-app uni-textarea,
uni-app uni-video {
  position: relative;
  box-sizing: border-box;
}

uni-app uni-swiper-item {
  position: absolute;
}

/* 设置默认的光标颜色 */
uni-app .uni-input-input,
uni-app .uni-textarea-textarea {
  caret-color: #3393e2;
}

/* 覆盖 video 的 poster 背景 */
uni-app .uni-video-cover {
  background-color: unset;
}