<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
	package="uts.sdk.modules.uniGetBackgroundAudioManager">
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

	<application>
		<service android:name="uts.sdk.modules.DCloudUniGetBackgroundAudioManager.AudioService"
			android:foregroundServiceType="mediaPlayback" />
		<activity android:name="uts.sdk.modules.DCloudUniGetBackgroundAudioManager.AudioTempActivity"
			android:theme="@style/DCUniAudioTranslucentTheme"
			android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|fontScale"
			android:screenOrientation="user" android:exported="true">
		</activity>
	</application>
</manifest>