uni-video {
  width: 300px;
  height: 225px;
  display: inline-block;
  line-height: 0;
  overflow: hidden;
  position: relative;
}

uni-video[hidden] {
  display: none;
}

.uni-video-container {
  width: 100%;
  height: 100%;
  background-color: black;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  object-position: inherit;
}

.uni-video-container.uni-video-type-fullscreen {
  position: fixed;
  z-index: 999;
}

.uni-video-video {
  width: 100%;
  height: 100%;
  object-position: inherit;
}

.uni-video-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.5);
  z-index: 1;
}

.uni-video-slots {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.uni-video-cover-play-button {
  width: 75px;
  height: 75px;
  line-height: 75px;
  font-size: 56px;
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
}

.uni-video-cover-play-button::after {
  content: '\ea24';
}

.uni-video-cover-duration {
  color: #fff;
  font-size: 16px;
  line-height: 1;
  margin-top: 10px;
}

.uni-video-bar {
  height: 44px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(-180deg, transparent, rgba(0, 0, 0, .5));
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  display: flex;
  align-items: center;
  align-items: center;
  padding: 0 16px;
  z-index: 0;
  /* 解决全屏后被 video 遮挡的问题 */
  transform: translate3d(0, 0, 0);
}

.uni-video-bar.uni-video-bar-full {
  left: 0;
}

.uni-video-controls {
  display: flex;
  flex-grow: 1;
  margin: 0 8.5px;
  align-items: center;
}

.uni-video-control-button {
  width: 17px;
  height: 17px;
  line-height: 17px;
  padding: 0px 16px 0px 0px;
  margin-left: -6px;
  margin-right: -6px;
  box-sizing: content-box;
  cursor: pointer;
}

.uni-video-control-button::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, .5);
}

.uni-video-control-button.uni-video-control-button-play::after {
  content: '\ea24';
}

.uni-video-control-button.uni-video-control-button-pause::after {
  content: '\ea25';
}

.uni-video-current-time,
.uni-video-duration {
  height: 15px;
  line-height: 15px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.uni-video-progress-container {
  flex-grow: 2;
  position: relative;
}

.uni-video-progress {
  /* NOTE uni-video-progress-progressing height */
  height: 4px;
  margin: 21px 12px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.uni-video-progress.uni-video-progress-progressing {
  height: 8px;
}

.uni-video-progress .uni-video-progress-played {
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.uni-video-progress-played,
.uni-video-progress-buffered {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.uni-video-progress-buffered {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  /* transition: width 0.1s; */
}

.uni-video-ball {
  /* NOTE uni-video-ball-progressing width height */
  width: 8px;
  height: 8px;
  padding: 14px;
  position: absolute;
  box-sizing: content-box;
  left: 0%;
  margin-left: -16px;
}

.uni-video-ball.uni-video-ball-progressing {
  width: 16px;
  height: 16px;
}

.uni-video-inner {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #ccc;
}

.uni-video-danmu-button {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  white-space: nowrap;
  border-radius: 5px;
  margin: 0 2px;
  cursor: pointer;
  color: rgba(255, 255, 255, .5);
}

.uni-video-danmu-button::after {
  content: '\ea26';
}

.uni-video-danmu-button.uni-video-danmu-button-active::after {
  content: '\ea27';
}

.uni-video-fullscreen {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  color: rgba(255, 255, 255, .5);
  box-sizing: content-box;
  cursor: pointer;
}

.uni-video-fullscreen::after {
  content: '\ea29';
}

.uni-video-fullscreen.uni-video-type-fullscreen::after {
  content: '\ea28';
}

.uni-video-danmu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 14px;
  overflow: visible;
}

.uni-video-danmu-item {
  line-height: 1;
  position: absolute;
  color: #ffffff;
  white-space: nowrap;
  left: 100%;
  transform: translatex(0);
  transition-property: left, transform;
  transition-duration: 3s;
  transition-timing-function: linear;
}

.uni-video-toast {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000000;
  display: none;
}

.uni-video-toast.uni-video-toast-volume {
  width: 100px;
  height: 100px;
  display: block;
}

.uni-video-toast-volume .uni-video-toast-title {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: 10px;
  display: block;
}

.uni-video-toast-volume .uni-video-toast-icon {
  fill: #000000;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  display: block;
}

.uni-video-toast-volume .uni-video-toast-value {
  width: 80px;
  height: 5px;
  margin-top: 5px;
  margin-left: 10px;
}

.uni-video-toast-volume .uni-video-toast-value>.uni-video-toast-value-content {
  overflow: hidden;
}

.uni-video-toast-volume-grids {
  width: 80px;
  height: 5px;
}

.uni-video-toast-volume-grids-item {
  float: left;
  width: 7.1px;
  height: 5px;
  background-color: #000000;
}

.uni-video-toast-volume-grids-item:not(:first-child) {
  margin-left: 1px;
}

.uni-video-toast.uni-video-toast-progress {
  display: block;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  line-height: 18px;
  padding: 6px;
}

.uni-video-toast.uni-video-toast-progress .uni-video-toast-title-current-time {
  color: rgba(255, 255, 255, 0.9);
}

@font-face {
  font-family: "uni-video-icon";
  src: url('./uni-video-icon.ttf');
}

.uni-video-icon {
  font-family: 'uni-video-icon';
  text-align: center;
}
