<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" 
 package="io.dcloud.uni_modules.uts_advance"
 >
	<!--permissions-->
  <application><meta-data android:name="UTS_CUSTOM_LAUNCHER_META" android:value="HelloUTS" /></application>
</manifest>
