uni-live-pusher {
  width: 320px;
  height: 240px;
  display: inline-block;
  line-height: 0;
  overflow: hidden;
  position: relative;
}

uni-live-pusher[hidden] {
  display: none;
}

.uni-live-pusher-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
}

.uni-live-pusher-slot {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
